<section class="d-flex flex-wrap flex-column align-items-center justify-content-center">
    <article class="p-5 rounded my-5 c-addPlace">
        <form class="d-flex flex-wrap flex-column align-items-center gap-3" [formGroup]="addPlaceForm"
            (ngSubmit)="submitPlace()">
            <h2 class="me-auto">Añadir lugar:</h2>
            <mat-form-field class="w-100">
                <mat-label>Nombre del lugar</mat-label>
                <input matInput placeholder="Nombre del lugar" required formControlName="name">
                <mat-error *ngIf="addPlaceForm.get('name')?.hasError('required')">Nombre necesario</mat-error>
                <mat-error *ngIf="addPlaceForm.get('name')?.hasError('maxlength')">Max. 30 carácteres</mat-error>
            </mat-form-field>
            <mat-form-field class="w-100">
                <mat-label>Ubicación</mat-label>
                <input matInput placeholder="Ubicación" required formControlName="location">
                <mat-error *ngIf="addPlaceForm.get('location')?.hasError('required')">Ubicación necesaria</mat-error>
                <mat-error *ngIf="addPlaceForm.get('location')?.hasError('maxlength')">Max. 30 carácteres</mat-error>
            </mat-form-field>
            <mat-form-field class="w-100">
                <mat-label>Descripción</mat-label>
                <textarea matInput placeholder="Descripción" required formControlName="description"></textarea>
                <mat-error *ngIf="addPlaceForm.get('description')?.hasError('required')">Descripción
                    necesaria</mat-error>
                <mat-error *ngIf="addPlaceForm.get('description')?.hasError('maxlength')">Max. 300
                    carácteres</mat-error>
            </mat-form-field>
            <mat-form-field class="w-100">
                <mat-label>Rating</mat-label>
                <input matInput placeholder="Rating" required formControlName="rating">
                <mat-error *ngIf="addPlaceForm.get('rating')?.hasError('required')">Rating necesario</mat-error>
                <mat-error *ngIf="addPlaceForm.get('rating')?.hasError('max')">Valor max. 5</mat-error>
            </mat-form-field>
            <button mat-stroked-button color="primary" (click)="submitForm()" [disabled]="!addPlaceForm.valid"
                type="submit">Añadir lugar</button>
        </form>
    </article>
</section>