<nav class="d-flex felx-wrap border bg-light">
    <ul class="navbar-nav d-flex felx-row align-items-center me-auto">
        <li class="navbar-item">
            <a class="nav-link mx-4" routerLink="">Home</a>
        </li>
        <li class="navbar-item">
            <div class="vr vr-burry"></div>
        </li>
        <li class="navbar-item">
            <a class="nav-link" routerLink="/products">Products</a>
        </li>
        <li class="navbar-item">
            <div class="vr vr-burry"></div>
        </li>
        <li class="navbar-item">
            <a class="nav-link" routerLink="/wishlist">WishList</a>
        </li>
    </ul>
    <i class="bi bi-signpost-split ms-auto"></i>
</nav>