<nav class="d-flex flex-wrap border bg-light justify-content-between p-3">
    <div>
        <h1 class="text-center navbar-item nav-link">NemAEsmorzar
            <i class="bi bi-signpost-split navbar-item"></i>
        </h1>
    </div>
    <div>
        <ul class="navbar-nav d-flex flex-wrap flex-row align-items-center me-auto">
            <li class="navbar-item">
                <a class="nav-link mx-4" routerLink="">Home</a>
            </li>
            <li class="navbar-item">
                <div class="vr vr-burry"></div>
            </li>
            <li class="navbar-item">
                <a class="nav-link mx-4" routerLink="/products">Products</a>
            </li>
            <li class="navbar-item">
                <div class="vr vr-burry"></div>
            </li>
            <li class="navbar-item">
                <a class="nav-link mx-4" routerLink="/wishlist">WishList</a>
            </li>
        </ul>
    </div>
</nav>