<nav class="d-flex flex-wrap justify-content-between p-3 g--background-color-beige-2">
    <div routerLink="">
        <h1 class="text-center navbar-item nav-link">NemAEsmorzar
            <i class="bi bi-signpost-split navbar-item"></i>
        </h1>
    </div>
    <div>
        <ul class="navbar-nav d-flex flex-wrap flex-row align-items-center me-auto">
            <li class="navbar-item">
                <a class="nav-link mx-4" routerLink="places/products" routerLinkActive="active">Products</a>
            </li>
            <li class="navbar-item">
                <div class="vr vr-burry"></div>
            </li>
            <li class="navbar-item">
                <a class="nav-link mx-4" routerLink="user/wishlist" routerLinkActive="active">WishList</a>
            </li>
            <li class="navbar-item">
                <div class="vr vr-burry"></div>
            </li>
            <li class="navbar-item">
                <a class="nav-link mx-4" routerLink="user/login" routerLinkActive="active">Sesion</a>
            </li>
            <li class="navbar-item">
                <div class="vr vr-burry"></div>
            </li>
            <li class="navbar-item">
                <a class="nav-link mx-4" routerLink="about" routerLinkActive="active">AboutUs</a>
            </li>
            <li class="navbar-item">
                <div class="vr vr-burry"></div>
            </li>
            <li class="navbar-item">
                <a class="nav-link mx-4" routerLink="places/add" routerLinkActive="active">Devs</a>
            </li>
        </ul>
    </div>
</nav>