<section class="row my-5 mx-5">
    <h1 class="text-center">About Esmorzars</h1>
    <article class="d-flex flex-column flex-sm-row gap-5">
        <div>
            <img src="../../../../../assets/img/about/products.jpg" class="w-100 mt-5 mb-4">
            <h2>Información</h2>
            <p>Todos los locales y productos reflejados en esta página web pueden encontrarse en la provincia de
                Valencia</p>
            <p>Sin fines monetarios, ni ánimo de lucro, tan solo buscamos dar a conocer la gran variedad de armuezos de
                calidad que ofrece nuestra tierra.</p>
            <p>Todas las imágenes son reales, obtenidas de publicaciones subidas a las redes sociales</p>
        </div>
        <div>
            <img src="../../../../../assets/img/about/senyera.jpg" alt="">
            <h2>¿Qué es l'esmorzaret?</h2>
            <p>El almuerzo es una de las comidas más queridas y respetadas por cualquier persona que habite en nuestra
                comunidad, la Comunidad Valenciana</p>
            <p>Las primeras apariciones del concepto del "almorzaret", surgieron en la 'epoca de Al-Ándalus, año 711,
                donde los aristocrátas árabes lo crearon para disfrutarlo en su alquería o cabila</p>
            <p>Hoy en día, seguimos haciendo honor a esa referencia, aprovechando para llenarnos el buche y tomarnos ese
                cafecito que nos impulse el día</p>
        </div>
    </article>
</section>