<section class="d-flex flex-wrap flex-column align-items-center justify-content-center">
    <article class="p-5 rounded my-5 c-addReview">
        <form class="d-flex flex-wrap flex-column align-items-center gap-3" [formGroup]="addReviewForm"
            (ngSubmit)="submitReview()">
            <h2 class="me-auto">Añadir Review:</h2>
            <mat-form-field class="w-100">
                <mat-label>Nombre</mat-label>
                <input matInput placeholder="Nombre" required formControlName="name">
                <mat-error *ngIf="addReviewForm.get('name')?.hasError('required')">Campo necesario</mat-error>
                <mat-error *ngIf="addReviewForm.get('name')?.hasError('maxlength')">Max. 30 carácteres</mat-error>
            </mat-form-field>
            <mat-form-field class="w-100">
                <mat-label>Fecha</mat-label>
                <input matInput placeholder="DD-MM-AA hh:mm" required formControlName="date">
                <mat-error *ngIf="addReviewForm.get('description')?.hasError('required')">Campo necesario</mat-error>
                <mat-error *ngIf="addReviewForm.get('description')?.hasError('maxlength')">Max. 100€
                </mat-error>
            </mat-form-field>
            <mat-form-field class="w-100">
                <mat-label>Descripción</mat-label>
                <textarea matInput placeholder="Descripcion" required formControlName="description"></textarea>
                <mat-error *ngIf="addReviewForm.get('price')?.hasError('required')">Campo necesario</mat-error>
                <mat-error *ngIf="addReviewForm.get('price')?.hasError('max')">Max. 200 carácteres</mat-error>
            </mat-form-field>
            <mat-form-field class="w-100">
                <mat-label>Rating</mat-label>
                <input matInput placeholder="Rating" required formControlName="rating">
                <mat-error *ngIf="addReviewForm.get('rating')?.hasError('required')">Campo necesario</mat-error>
                <mat-error *ngIf="addReviewForm.get('rating')?.hasError('max')">Valor max. 5</mat-error>
            </mat-form-field>
            <mat-form-field class="w-100">
                <mat-label>Select a place</mat-label>
                <mat-select required formControlName="placeId">
                    <mat-option *ngFor="let place of placeList" [value]="place.id">{{place.name}}</mat-option>
                </mat-select>
                <mat-error *ngIf="addReviewForm.get('placeId')?.hasError('required')">Campo necesario</mat-error>
            </mat-form-field>
            <button mat-stroked-button color="primary" (click)="submitForm()" [disabled]="!addReviewForm.valid"
                type="submit">Añadir Producto</button>
        </form>
    </article>
</section>