<section class="conatiner">
    <article class="row">
        <div class="col-12 col-md-3">
            <!-- aside -->
        </div>

        <div class="col-12 col-md-9">
            <div class="row">
                <app-place-info>
                </app-place-info>
                <!-- product -->
                <app-main-product></app-main-product>
                <!-- products -->
                <app-products></app-products>
            </div>

            <div class="row p-4">
                <app-reviews></app-reviews>
                <!-- reviews -->
            </div>
        </div>
    </article>
</section>
<app-footer />