<section class="d-flex flex-row flex-wrap justify-content-around my-5 gap-5" *ngIf="wishList$ | async as wishList">
    <h1 *ngIf="!wishList.length" class="my-5">
        ¡WishList vacía!
    </h1>
    <mat-card *ngFor="let product of wishList" class="c-product">
        <mat-card-header class="mb-auto">
            <mat-card-title>{{product.name}}</mat-card-title>
        </mat-card-header>
        <img mat-card-image src="../../../../../assets/img/products/{{product.id}}.jpeg">
        <mat-card-content>
            <p>
                {{product.description}}
            </p>
        </mat-card-content>
        <mat-card-actions class="mt-auto">
            <button mat-button (click)="deleteFromWishList(product)">Eliminar</button>
        </mat-card-actions>
    </mat-card>
</section>