<h1 class="mb-5 mat-headline-4"> Reviews</h1>
<article class="row align-items-center" *ngFor="let review of reviews">
    <ng-container *ngIf="review">
        <div class="col-12 col-md-2">
            <h3>{{review.name}}</h3>
            <p>{{review.date}}</p>
            <p><app-stars-rating [rating]="review.rating"></app-stars-rating></p>
        </div>
        <div class="col-12 col-md-10">
            <p class="text-muted"> {{review.description}} </p>
        </div>
    </ng-container>
    <hr>
</article>


<!-- *ngFor="let review of place.reviews" -->