<section *ngIf="!currentUser" class="d-flex flex-wrap flex-column align-items-center justify-content-center h-75">
    <article class="p-5 rounded w-auto c-login">
        <form class="d-flex flex-wrap flex-column align-items-center gap-3" [formGroup]="getUserForm"
            (ngSubmit)="submitUser()">
            <h2 class="me-auto">Log In:</h2>
            <mat-form-field class="w-100">
                <mat-label>Introduce tu mail</mat-label>
                <input matInput placeholder="mail@example.com" required formControlName="email">
                <mat-error *ngIf="getUserForm.get('email')?.invalid">{{getMailErrorMessage()}}</mat-error>
            </mat-form-field>
            <mat-form-field class="w-100">
                <mat-label>Introduce tu contraseña</mat-label>
                <input matInput [type]="hide? 'password' : 'text'" required formControlName="password">
                <mat-error *ngIf="getUserForm.get('password')?.invalid">{{getPasswordErrorMessage()}}</mat-error>
                <button mat-icon-button matSuffix (click)="hide = !hide" [attr.arialabel]="'Hide password'"
                    [attr.aria-pressed]="hide">
                    <mat-icon>{{hide? 'visibility_off' : 'visibility'}}</mat-icon>
                </button>
            </mat-form-field>
            <div class="d-flex flex-row flex-wrap gap-1">
                <button mat-raised-button color="primary" (click)="submitForm()">Iniciar Sesión</button>
                <button mat-stroked-button color="primary" (click)="logOut()"> Cerrar Sesión </button>
            </div>
        </form>
    </article>
    <p class="my-3">¿No tienes cuenta? <a routerLink="/user/signin">Pincha aquí</a></p>
</section>

<section *ngIf="currentUser" class="d-flex flex-wrap flex-column align-items-center justify-content-center h-75">
    <article class="p-5 rounded w-auto c-login d-flex flex-column align-items-center">
        <h1>¡Bienvenido!</h1>
        <h2>{{currentUser.email}}</h2>
        <button mat-stroked-button color="primary" (click)="logOut()"> Cerrar Sesión </button>
    </article>
    <p class="my-3">¿No tienes cuenta? <a routerLink="/user/signin">Pincha aquí</a></p>
</section>